<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <title>GDPR</title>
    <link href="~/css/loader.css" rel="stylesheet" />
    @RenderSection("headSection", required: false)
</head>

<body style="font-family: 'Raleway', sans-serif; ">

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <partial name="_Consent2" />

    <div class="container-lg">

        <div class="p-5 m-5 bg-light rounded-3">

            @RenderBody()

            <button type="button" class="btn btn-primary" onclick="javascript:window.location.href='/'">Home</button>
            <button type="button" class="btn btn-secondary" onclick="javascript:window.location.href='/license'">License</button>
            <button type="button" class="btn btn-info" onclick="javascript:window.location.href='/readme'">Readme</button>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $("#preloader").fadeOut("slow");
        });

        $(window).on("load", function () {
            //...
        });

        window.onload = () => {
            document.body.addEventListener('submit', function (e) {
                $("#preloader").fadeIn("slow");
            });
        }
    </script>

    @RenderSection("scriptSection", required: false)
</body>
</html>